html {
  font-family: 'Fredoka One', cursive;
}

.main-content {
  background-color: #b3fbff;
}

.main-stripes {
  background-image: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  text-shadow: 3px 3px 20px #990073;
  transform: rotate(-8deg);
}

p {
  color: #c09;
  transform: rotate(-3deg);
  text-shadow: 6px 3px 20px #990073;
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #c09;
}

.btn-ghost:hover {
  color: #c09;
  text-shadow: 1px 1px 1px #990073;
  border: 3px solid #c09;
  background-color: #d4fdff;
}

.cone {
  background: url("../images/cone.svg") no-repeat center center;
  position: relative;
  margin: 215px auto;
  width: 170px;

}

.mint {
  position: absolute;
  width: 135px;
  left: calc(50% - 54px);
  bottom: calc(50% - 105px);
}

.vanilla {
  position: absolute;
  width: 135px;
  left: calc(50% - 54px);
  bottom: calc(50% - -25px);
}

.chocolate {
  position: absolute;
  width: 135px;
  left: calc(50% - 54px);
  bottom: calc(50% - 45px);
}

.cherry {
  position: absolute;
  width: 35px;
  left: calc(50% - 45px);
  bottom: calc(50% - -105px);
}
