html {
  font-family: "Fredoka One", sans-serif;
}

.main-content {
  background-color: #b3fbff;
}

.main-stripes {
  background-image: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  transform-origin: left bottom;
  transform: rotate(-9deg);
}

p {
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left center;
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
}

.btn-ghost:hover {
  color: #c09;
  text-shadow: 1px 1px 30px #990073;
  border: 3px solid #c09;
  background-color: #d4fdff;
}

.ice-cream-cone {
  position: relative;
  margin: 160px auto;
  height: 160px;
}

.cone {
  position: absolute;
  width: 125px;
  height: 165px;
  left: calc(50% - 60px);
  top: calc(50% - -69px);
  animation: cone 1700ms linear forwards;
}

.mint {
  position: absolute;
  width: 132px;
  left: calc(50% - 64px);
  top: calc(50% - 19px);
  top: calc(50% - 102px);
  animation: mint 1800ms linear forwards;
}

.vanilla {
  position: absolute;
  width: 132px;
  left: calc(50% - 68px);
  top: calc(50% - 174px);
  animation: vanilla 2000ms linear forwards;
}

.chocolate {
  position: absolute;
  width: 132px;
  left: calc(50% - 60px);
  top: calc(50% - 102px);
  animation: chocolate 1850ms linear forwards;
}

.cherry {
  position: absolute;
  width: 50px;
  left: calc(50% - 24px);
  top: calc(50% - 224px);
  animation: cherry 2400ms linear forwards;
}

.text-box {
  animation: opacity 2500ms linear forwards;
}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    filter: blur(30px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}

@keyframes cone {

  0% {
    opacity: .5;
    top: -1000px;
  }

  100% {
    opacity: 1;
    top: calc(50% - -69px);
  }

}

@keyframes mint {

  0% {
    opacity: .5;
    top: -1000px;
  }

  100% {
    opacity: 1;
    top: calc(50% - 19px);
  }

}

@keyframes chocolate {

  0% {
    opacity: .5;
    top: -1000px;
  }

  100% {
    opacity: 1;
    top: calc(50% - 102px);
  }

}

@keyframes vanilla {

  0% {
    opacity: .5;
    top: -1000px;
  }

  100% {
    opacity: 1;
    top: calc(50% - 174px);
  }

}

@keyframes cherry {

  0% {
    opacity: .5;
    top: -1000px;
  }

  100% {
    opacity: 1;
    top: calc(50% - 224px);
  }

}
